<div>

    <p>
        <h1>Welcome to Codeial--</h1>
    </p>
    <br>
    <br>
    <p><strong>Click the below link to verify your account and log-in to Codeial****</strong>
    <br>
    <p><%=url%></p>
    <br><br>
    <p>if you didn't create account,please ignore this email!</p>
    <p>Sorry for inconvenience</p>
    
</div>