


<form action="/users/resetPasswordupdate/<%=Token%>" method="Post" style="margin:15% 35%">
    <label for="password">Enter new Password</label>
    <input type="password" required name="password">
    <label for="password">Confirm Password</label>
    <input type="password" required name="confirm_password">
    <input type="submit" value="click">
</form>