


<form action="/users/forgotPassword" method="POST" style="margin:15% 35%">
    <label for="email">Enter-Email::</label>
    <input type="email" required name="email">
    <input type="submit" value="click">
</form>