<!-- variable part-->
<!-- <link rel="stylesheet" href="/css/user_profile.css" type="text/css"> -->
<!-- addindividual style to each page -->

<h1>
    Codeial/
    <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="TypeHere.."></textarea>
        <input type="submit" value="Post">
    </form>


    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <p>
                        <%= post.content %>
                    <br>
                    <small>
                        <%= post.user.name %>
                    </small>
                    </p>
                    
                </li>


                
            <%}%>
        </ul>
    </div>
</section>