<h1>Sign Up</h1>


<form action="/users/create" method="POST">
    <input type="text" required name="name" placeholder="Your Name">
    <input type="email" required name="email" placeholder="Your Email">
    <input type="password" required name="password" placeholder="Password">
    <input type="password" required name="confirm_password" placeholder="Confirm Password">
    <input type="submit" value="Sign Up">


</form>