#home-container{
    display:flex;

    #feed-posts{
        width:70%;
        padding: 10px;

    }
    #user-friends{
        width:30%;
        padding: 10px;
        border-left:1px solid lightgrey;
        height:100%;

            #friends{
                width:30%;
                height:50%;
                padding: 10px;
                border:2px solid rgb(76, 167, 228);
                margin-bottom:10px;
            }


            #users{
                width:30%;
                height:50%;
                padding: 10px;
                border:2px solid rgb(202, 94, 21);
            }

            
    }
}