article{
    background-color: #527171;
}
#home-container{
    display:flex;
    overflow: hidden;
    background-color: #527171;
    // padding-bottom: 2.5rem;
    #adv-sec{
        width:20%;
        padding:10px;
        height:100%;
        border-right: 5px dashed #af3832;
        background-color:#020202;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        div{
            width:80%;
            height:300px;
            border:1px solid #ece2e1;
            background-color:#091402;
            margin-bottom: 10px;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
                overflow: hidden;
                cursor:pointer;
                transition: transform 0.5s ease-in-out;
            }
            img:hover{
                transform:scale((1.2));
            }
        }

    }
    #feed-posts{
        width:55%;
        padding: 10px;
        height:100%;
        display:flex;
        flex-direction: column;
        background-color:#d3d9e0;
        border-right:5px dashed #af3832;

        h4{
            font-size: 1.5rem;
            font-weight: bolder;
            color:#851cd4ed;
            font-family:tahoma;
            
            
        }
            textarea{
                background-color:#d3d9e0;
                border:1px solid black;
                font-size:16px;
                font-weight: 300;
                padding:5px;
                &::placeholder{
                    color:brown;
                }
            }
            #post-submit{
                background-color: #008e9e;
                height:50px;
                width:50px;
                border-radius:50%;
                cursor: pointer;
                border:1px solid black;
                transition: all 0.5s ease-in-out;
                color:white;
                outline: none;
            }
            #post-submit:hover{
                outline: none;
                transform: scale(1.2);
                box-shadow: 0px 0px 3px 3px rgb(226, 149, 6);
                
            }
            #posts-list-container ul{
                list-style: none;
            }  
            #posts-list-container ul>li>p{
                    
                        padding:3px;
                        font-size: 20px;
                        font-weight: 400;
                        background-color: #9c643d;
                        color:black;
                        margin-left:-39px;
                        line-height: 1.6;
                        border-radius:0.8rem;

                        small{
                            color:cyan;
                        }
                   
             }
            

    }
    #user-friends{
        width:25%;
        padding: 10px;
        border-left:1px solid lightgrey;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color:#060606;
            #friends{
                width:90%;
                height:50%;
                // padding: 10px;
                border-bottom:2px solid rgb(76, 167, 228);
                margin-bottom:80px;
                h4{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color:#39de7bed;
                    font-family:tahoma;
                    
                    
                }
                a{
                    text-decoration: none;
                    text-transform: capitalize;
                    color:#f1f1f1;
                    font-weight: 900;
                    font-size: 1.2rem;
                    font-family:cursive;
                    font-style: italic;
                    line-height: 1.3;
                    letter-spacing:0.1rem;
                    

                }
                a:hover{
                    cursor:pointer;
                   
                    transform: scale(1.3) ;
                    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.705);
                }
            }


            #users{
                width:90%;
                height:50%;
                // padding: 10px;
                border-bottom:2px solid rgb(202, 94, 21);
                h4{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color:#ecb009ed;
                    font-family:tahoma;
                    
                    
                }
                a{
                    text-decoration: none;
                    text-transform: capitalize;
                    color:wheat;
                    font-weight: 900;
                    font-size: 1.2rem;
                    font-family:cursive;
                    font-style: italic;
                    line-height: 1.3;
                    letter-spacing:0.1rem;
                }
                a:hover{
                    cursor:pointer;
                   
                    transform: scale(1.3) ;
                    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.705);
                }
            }

            
    }
}