li{
    a{
        text-decoration: none;
    }
    i{
        transform:scale(1.5);
        
        
    }
    .toggle-like-button{
        margin-left:8px;
        font-size:25px;
        color:#080808;
        
        i{
            transform:scale(1.1);
            color:#5d8a01;
            // background-color: pink;
        }


    }
    .toggle-like-button:hover{
        color:#0808089a;
        i{
            color:#5c8a01c7;
            transform:scale(0.8);
        }

    }
    #grand-image{
        display:flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
        // background-color: #9c643d;
    .img-container{
        // background:transparent;
        border:1px solid rgb(43, 0, 0);
        // height:500px;
        // width:600px;
        // height:20%;
        width:48%;
        display:flex;
        align-items: center;
        justify-content:center;
        margin-right:12px;
        
        .post-img{
            // border-radius:1rem;
            height: 100%;
            width:100%;
        }
    }
    }
    small{
        margin-top:10px;
        color:#1e0046;
        font-weight: 500;
        font-size:22px;
        margin-bottom: 5px;
    }
    .delete-post-button{
        color:#131010;
        
    }
    .delete-post-button:hover{
        color:#961414;
        transform: rotate(90deg) !important;
     
    }

    //comments
    .post-comments{
        input[type="text"]{
            background-color:#d3d9e0;
            outline:none;
            display:inline-flex;
            box-shadow:0px 0px 5px 7px  rgba(137, 43, 226, 0.651);
            width:70%;
            height:2.5rem;
            padding:8px;
            font-size:18px;
            border:1px solid blueviolet;
            &::placeholder{
                color:brown;
            }

        }

        input[type="submit"]{
            background-color:#0e71e2;
            outline:none;
            height:80px;
            width:80px;
            border-radius:90%;
            border:1px solid black;
            margin-left:15px;
            margin-left: 50px;
            color:white;
            transition: transform 1s ease-in-out;
            &:hover { 
               
                cursor: pointer;
                transform: scale(0.8);
                box-shadow: 0px 0px 3px 3px rgb(226, 149, 6);
            }
            &:active {
                
                background-color:#0e71e29f;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
                    
                
            }

        }

        .post-comments-list{


                ul{

                    li{
                        
                        &>p{
                        padding:3px;
                        font-size: 20px;
                        font-weight: 400;
                        background-color: #b9b6089a !important;
                        color:black;
                        margin-left:-39px;
                        line-height: 1.6;
                        border-radius:0.8rem;
                        
                     
                        #comment-name{
                            color:#ec0284!important;
                        }

                        
                        }

                        .delete-comment-button{

                            i{
                                color:black !important;
                                &:hover{
                                    color:red!important;
                                }
                            }
                        }
                        

                        .toggle-like-button{

                            color:#d8062a !important;

                            i{
                                color:brown !important;

                            }
                        }
                    }
                }            
        }
    }

}