<div>

    <p>
        <h1><%=comment.user.name%>!</h1>
    </p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.content %></strong>&ensp;just got Published on codeial.</p>
    <br>
    <br>
    <p>Thanks!</p>
    
</div>