html, body {
  margin: 0;
  min-height: 100%; }
  html article, body article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  html main, body main {
    flex-grow: 1;
    flex-shrink: 0; }
