li a {
  text-decoration: none; }

li i {
  transform: scale(1.5); }

li .toggle-like-button {
  margin-left: 8px;
  font-size: 25px;
  color: #080808; }
  li .toggle-like-button i {
    transform: scale(1.1);
    color: #5d8a01; }

li .toggle-like-button:hover {
  color: #0808089a; }
  li .toggle-like-button:hover i {
    color: #5c8a01c7;
    transform: scale(0.8); }

li #grand-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  li #grand-image .img-container {
    border: 1px solid #2b0000;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px; }
    li #grand-image .img-container .post-img {
      height: 100%;
      width: 100%; }

li small {
  margin-top: 10px;
  color: #1e0046;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 5px; }

li .delete-post-button {
  color: #131010; }

li .delete-post-button:hover {
  color: #961414;
  transform: rotate(90deg) !important; }

li .post-comments input[type="text"] {
  background-color: #d3d9e0;
  outline: none;
  display: inline-flex;
  box-shadow: 0px 0px 5px 7px rgba(137, 43, 226, 0.651);
  width: 70%;
  height: 2.5rem;
  padding: 8px;
  font-size: 18px;
  border: 1px solid blueviolet; }
  li .post-comments input[type="text"]::placeholder {
    color: brown; }

li .post-comments input[type="submit"] {
  background-color: #0e71e2;
  outline: none;
  height: 80px;
  width: 80px;
  border-radius: 90%;
  border: 1px solid black;
  margin-left: 15px;
  margin-left: 50px;
  color: white;
  transition: transform 1s ease-in-out; }
  li .post-comments input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(0.8);
    box-shadow: 0px 0px 3px 3px #e29506; }
  li .post-comments input[type="submit"]:active {
    background-color: #0e71e29f;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }

li .post-comments .post-comments-list ul li > p {
  padding: 3px;
  font-size: 20px;
  font-weight: 400;
  background-color: #b9b6089a !important;
  color: black;
  margin-left: -39px;
  line-height: 1.6;
  border-radius: 0.8rem; }
  li .post-comments .post-comments-list ul li > p #comment-name {
    color: #ec0284 !important; }

li .post-comments .post-comments-list ul li .delete-comment-button i {
  color: black !important; }
  li .post-comments .post-comments-list ul li .delete-comment-button i:hover {
    color: red !important; }

li .post-comments .post-comments-list ul li .toggle-like-button {
  color: #d8062a !important; }
  li .post-comments .post-comments-list ul li .toggle-like-button i {
    color: brown !important; }
