<div>

    <p>
        <h1>Forgot Password!--<%=email%></h1>
    </p>
    <br>
    <br>
    <p><strong>Forgot your Password? Submit a Patch request  with your new password and confirm password to this url:</strong></p>
    <br>
    <br>
    <p><%=resetURL%></p>
    <br><br>
    <p>if you didn't forget your password,please ignore this email!</p>
    
</div>